PORT=4000

LOG_LEVEL=2
LOG_MAX_FILE_SIZE_KB=100

JWT_SECRET_KEY=your-super-secret-key-change-in-production
JWT_SECRET_REFRESH_KEY=your-refresh-secret-key-change-in-production
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

CRYPT_SALT=10